<!DOCTYPE html>
<html>
<head>
  <title>{{ _("Learn Python in Kyiv, Ukraine") }}</title>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="PogQHIar3WEtSoIEBmfed8exHxZhBD5_Qtf6HgOnjGM">

  <link href="{{ url_for("static", filename="css/screen.css") }}" media="screen,projection,tv" rel="stylesheet" type="text/css">
  {% block extra_head %}{% endblock %}
</head>

<body>

  <div id="wrapper">
    <header>
      <div class="left-wrapper">
        <h1>
          {% if not is_index %}<a href="{{ url_for("index") }}">{% endif %}{{ _("Learn Python in Kyiv, Ukraine") }}
          {% if not is_index %}</a>{% endif %}
        </h1>
        <p>
          <a{% if is_about %} class="active"{% endif %} href="{{ url_for("page", name="about") }}">{{ _("About us") }}</a> -
          <a{% if is_contacts %} class="active"{% endif %} href="{{ url_for("page", name="contacts") }}">{{ _("Contacts") }}</a>
        </p>
      </div>
      <div class="right-wrapper">
        <h3>{{ _("3 flows on 12 studies") }}</h3>
      </div>
      <div class="clear">
        <a class="github-ribbon" href="https://github.com/playpauseandstop/learnpython.in.ua">
          <img alt="Fork us on GitHub" src="{{ url_for("static", filename="img/github-ribbon.png") }}">
        </a>
      </div>
    </header>

    <nav>
      <ul>
        <li><a id="medium-link-nav" href="{{ url_for("flows", _anchor="medium") }}">{{ _("Medium flow") }}</a></li>
        <li><a id="normal-link-nav" href="{{ url_for("flows", _anchor="normal") }}">{{ _("Normal flow") }}</a></li>
        <li><a id="advanced-link-nav" href="{{ url_for("flows", _anchor="advanced") }}">{{ _("Advanced flow") }}</a></li>
        <li><a class="{% if is_subscribe %}active {% endif %}subscribe" href="{{ url_for("subscribe") }}">{{ _("Subscribe") }} &rarr;</a></li>
      </ul>
    </nav>

    <article>
      {% block content %}{% endblock %}
    </article>

    <footer>
      2012 &copy; <a{% if is_index %} class="active"{% endif %} href="{{ url_for("index") }}">Learn Python</a><br>

      <a id="medium-link-footer" href="{{ url_for("flows", _anchor="medium") }}">{{ _("Medium flow") }}</a> &middot;
      <a id="normal-link-footer" href="{{ url_for("flows", _anchor="normal") }}">{{ _("Normal flow") }}</a> &middot;
      <a id="advanced-link-footer" href="{{ url_for("flows", _anchor="advanced") }}">{{ _("Advanced flow") }}</a><br>

      <a{% if is_about %} class="active"{% endif %} href="{{ url_for("page", name="about") }}">{{ _("About us") }}</a> &middot;
      <a{% if is_subscribe %} class="active"{% endif %} href="{{ url_for("subscribe") }}">{{ _("Subscribe") }}</a> &middot;
      <a{% if is_contacts %} class="active"{% endif %} href="{{ url_for("page", name="contacts") }}">{{ _("Contacts") }}</a>
    </footer>
  </div>

  {% block extra_body %}{% endblock %}

</body>

</html>
