{% set is_index=1 %}
{% extends "base.html" %}
{% block extra_head %}
  <script src="{{ url_for("static", filename="shared/jquery-1.8.1.min.js") }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
  <div class="tabs">
  {% for name, course in courses.iteritems() %}
    <div class="tab{% if course.active %} active{% endif %}" id="{{ name }}">
      {{ course.html }}
    </div>
  {% endfor %}
  </div>
{% endblock %}
{% block extra_body %}
  <script type="text/javascript"><!--
  --></script>
{% endblock %}
