Babel==0.9.6
blinker==1.2
docutils==0.9.1
Flask==0.9
Flask-Babel==0.8
Flask-FlatPages==0.3
Flask-LazyViews==0.2
Flask-Mail==0.7.2
Flask-Script==0.4.0
Flask-Testing==0.4
Flask-WTF==0.8
gunicorn==0.14.6
lxml==2.3.5
nose==1.2.1
ordereddict==1.1
pyquery==1.2.1
selenium==2.25.0
splinter==0.4.8
twill==0.9
WebTest==1.4.0
windmill==1.6
WTForms==1.0.2
